*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#container{
  width: 100%;
  height: 100vh;
  background: url("b1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator{
  background: black;
  padding: 20px;
  border-radius: 10px;
}
.calculator form input{
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
  background: transparent;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}
form .display{
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
form .display input{
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}
#opert{
  color: #199ae6e1;
}
.colorManage{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  width: 50%;
  margin: auto;
  
}
.clr{
  height: 20px;
  cursor: pointer;
  margin: auto;
  width: 20px;
  border-radius: 50%;
  background-color: black;
}
.black{
  border: 2px solid black;
  background-color: black;
}
.purple{
  border: 2px solid purple;
  background-color: purple;
}
.yellow{
  border: 2px solid #ff9900e5;
  background-color: #ff9900e5;
}
.white{
  border: 2px solid #0d0941e5;
  background-color: #0d0941e5;
}
